//ПЕРЕМЕННЫЕ
$light: #f3f3f3;
$dark: #1a1c25;
$orange: #ff6300;
$OneFift: 150px;
$OneFiftM: 11.5vw;
$OneFiftT: 90px;
$Mont: Montblanc-Regular;
$Mor: Mories;
$MorD: Mories-Display;


//styles
.navMobArt {
    padding-top: 0;
    position: fixed;
    bottom: auto;
    top: 20px;
}

.navArt {
    position: fixed;
    top: 0;
    right: 6vw;
    height: 36px;
    z-index: 90;
}

//Artol
.ArtCenter {
    text-align: center;
    margin: 0 auto;
    width: 1300px;
    padding-top: 243px;
    padding-bottom: 230px;

    .ArtAll {
        display: flex;
        flex-wrap: wrap;

        .art {
            margin-right: 80px;
            margin-top: 156px;
            position: relative;

            div:first-child {
                position: relative;

            }

            .ImgDivArt {
                position: absolute;
                top: -10%;
            }

            .BGArt {
                background-color: #1a1c258a;
                height: 99%;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 2;
                animation: blackk 1.5s ease-in-out;
            }

            img {
                width: 610px;
                height: 400px;
                z-index: 1;
                object-fit: cover;
            }

            .textArt {
                font-size: 10px;
                border-bottom: 1px solid $dark;
                padding: 31px 0;
                display: flex;
                justify-content: space-between;
            }
        }

        .art:first-child {
            margin-top: 0;
        }
    }
}

.MarginZero {
    margin: 0;
    width: auto;
}


.Slide {
    z-index: 99998;
    width: 89.6vw;
    height: auto;
    max-height: 78.8vh;
    object-fit: contain;
    transform: translate(-50%, -50%);
    position: fixed;
    top: 50%;
    left: 50%;
}

.SlideOff {
    .prev,
    .next, .closeSlide {
        animation: FadeOut 1s ease-in-out;
    }

    .Slide {
        animation: GoOut 1s ease-in-out;
    }

    .SlideBG {
        animation: SlideBGOut 1s ease-in-out;
    }
}

.SlideDown {
    animation: SlideDown 1s ease-in-out;
}

@keyframes SlideBGOut {
    0% {
        width: 100vw;
    }

    100% {
        width: 0;
    }
}

@keyframes FadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes SlideDown {
    0% {
        transform: translate(-50%, 100vh);
    }

    100% {
        transform: translate(-50%, -50%);
    }
}

.SlideButt {
    display: none;
}

.SlideButtOn {
    display: block;
}

.GoOut {
    animation: GoOut 1s ease-in-out;
}

@keyframes GoOut {
    0% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(-50%, -150vh);
    }
}

.SlideBG {
    width: 100vw;
    height: 100vh;
    background-color: $dark;
    z-index: 99997;
    position: fixed;
    top: 0;
    left: 0;
    animation: SlideBG 1.5s ease-in-out;
}

@keyframes SlideBG {
    0% {
        width: 0vw;
    }

    100% {
        width: 100vw;
    }
}

.prev,
.next {
    position: fixed;
    top: 50vh;
    transform: translateY(-50%);
    z-index: 99999;
    animation: FadeIn 1.5s ease-in-out;
}

.closeSlide {
    position: fixed;
    right: 40px;
    top: 88px;
    z-index: 99;
    animation: FadeIn 1.5s ease-in-out;
    z-index: 99999;
}

.next {
    svg {
        transform: rotate(180deg);
    }
    right: 40px;
}
.ArL-On, .ArR-On, .Close-On {
    fill: $light;
    transition: fill 0.3s ease-in-out;
}
.next:hover .ArR-On, .prev:hover .ArL-On, .closeSlide:hover .Close-On {
    fill: $orange;
}
.prev {
    left: 40px;
}

.BackAnim {
    animation: BackAnim 0.8s ease-in-out;
}
.BackAnimRev {
    animation: BackAnim 0.8s ease-in-out reverse;
}

@keyframes BackAnim {
    0% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(-200vw, -50%);
    }
}

.NextAnim {
    animation: NextAnim 0.8s ease-in-out;
}
.NextAnimRev {
    animation: NextAnim 0.8s ease-in-out reverse;
}

@keyframes NextAnim {
    0% {
        transform: translate(150vw, -50%);
    }

    100% {
        transform: translate(-50%, -50%);
    }
}

@keyframes FadeIn {
    0% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes blackk {
    0% {
        width: 100%;
    }

    25% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}

.Unactive {
    display: none;
}

@media screen and (min-width: 1380px) {
    .ArtCenter {
        .ArtAll {
            .art:nth-child(2n) {
                margin-right: 0;
                transform: translate(0, 230px);
                animation: trans 1.5s ease-in-out;
            }

            .art:nth-child(2) {
                margin-top: 0;
            }
        }
    }
}

@keyframes trans {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(0, 230px);
    }
}

.Dark {
    background-color: $dark;
    color: $light;

    .RowArt {
        .art {
            div {
                border-bottom-color: $light;
            }
        }
    }
}

@media screen and (max-width: 1500px) and (min-width: 1380px) {
    .ArtCenter {
        .ArtAll {
            .art {
                margin-right: 20px;
            }
        }
    }
}

@media screen and (max-width: 1379px) and (min-width: 700px) {
    nav {
        font-size: 36px;

        ul {
            li {
                padding: 0 15px;
            }

            li:first-child {
                padding: 0 15px 0 0;
            }
        }
    }

    .ArtCenter {
        width: 79.4vw;
        padding-bottom: 0;
        .ArtAll {
            .art {
                margin-right: 0;
                margin-top: 64px;

                img {
                    width: 79.4vw;
                    height: auto;
                }
            }
        }
    }
    .next {
        right: 0;
    }
    .prev {
        left: 0;
    }
    .closeSlide {
        right: 40px;
    }
    .Slide {
        width: 95vw;
        max-height: 84vh;
    }
}

@media screen and (max-width: 700px) {
    .navArt {
        top: 0;
        right: 0;
        height: 100vh;
        z-index: 999999;
    }

    nav {
        padding-top: 45px;
    }

    .ArtCenter {
        width: 93.1vw;
        padding-top: 20vh;
        padding-bottom: 0;

        .ArtAll {
            .art {
                margin-top: 48px;
                margin-right: 0;

                img {
                    width: 93.1vw;
                    height: auto;
                }

                .textArt {
                    padding: 22px 0;
                }
            }
        }
    }

    .Slide {
        width: 100vw;
        max-width: auto;
    }
    .prev, .next {
        transform: none;
        bottom: 3vh;
        top: auto;
    }
    .prev {
        left: 20vw;
    }
    .next {
        right: 10vw;
    }
    .closeSlide {
        top: 3%;
        right: 5%;
    }

    .footer {
        padding: 0;
    }

    .footerAll {
        padding-top: 184px;
    }
}
