

/* Grid demo 2 */

.content {
    padding: 4rem 0 0;
    margin-top: 13rem;
}

.item__fig {
    position: relative;
    width: 400px;
    height: 700px;
}

.item__img {
    display: none;
}

/* Canvas */
.dom-gl {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

canvas {
    display: block;
}