

/* Grid demo 2 */

.content {
    display: grid;
    --column-gap: 2rem;
    --row-gap: 10vh;
    --mwidth: 400px;
    --columns: 3;
    max-width: calc(var(--mwidth) * var(--columns) + (var(--columns) - 1) * var(--column-gap));
    width: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(calc(var(--mwidth)/2), var(--mwidth)));
    grid-column-gap: var(--column-gap);
    grid-row-gap: var(--row-gap);
    justify-content: center;
    padding: 4rem 0 20rem;
    margin-top: 13rem;
}

.item__fig {
    position: relative;
    width: 400px;
    height: 700px;
}

.item__img {
    display: none;
}

/* Canvas */
.dom-gl {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
